Repository hekors/website, pull requests merged in 2022-12, with the labels that each got.

#3 Docs: README Content Added
  .gitpod.yml
  LICENSE
  README.md
  public/assets/hekors-website-repo-banner.png
Labels: documentation, staff-only

#6 refactor/fix: Configure paths & imports and types fixes
  common/config/.gitkeep
  common/helpers/index.ts
  common/utils/index.ts
  components/AnnouncementBar/index.tsx
  components/Callout.tsx
  components/CommunityNarratives/index.tsx
  components/EmojiLayer/emoji-list-data.json
  components/EmojiLayer/index.tsx
  components/Footer/footer-data.ts
  components/Footer/index.tsx
  components/GetStarted/get-started-data.json
  components/GetStarted/index.tsx
  components/HackathonCTA/index.tsx
  components/Navbar/index.tsx
  components/Navbar/navbar-options.json
  components/OrganizeWithUs/index.tsx
  components/Team/index.tsx
  components/UpcomingEvents/index.tsx
  components/UpcomingHackathons/index.tsx
  components/UpcomingSessions/index.tsx
  components/ui-patterns/Button.tsx
  context/.gitkeep
  middleware/hackathons-api.ts
  middleware/index.ts
  middleware/teams-api.ts
  middleware/utils.ts
  pages/404.tsx
  pages/_app.tsx
  pages/events/[id].tsx
  pages/events/index.tsx
  pages/index.tsx
  pages/mlh.tsx
  routers/.gitkeep
  styles/button-styles.css
  styles/globals.css
  styles/typography.css
  tailwind.config.js
  tsconfig.json
  types/announcement-bar-type.ts
  types/emoji-type.ts
  types/footer-option-type.ts
  types/get-started-item-type.ts
  types/hackathon-types.ts
  types/navbar-option-type.ts
  types/team-type.ts
  types/ui-pattern-types/button-type.ts
  types/ui-pattern-types/callout-type.ts
Labels: enhancement, staff-only

#4 feat: skeleton loading feature added as support
  components/CommunityNarratives/index.tsx
  components/Team/index.tsx
  components/UpcomingHackathons/index.tsx
  components/UpcomingSessions/index.tsx
  components/ui-patterns/Skeleton.tsx
  package-lock.json
  package.json
  pages/events/[id].tsx
  public/community-narratives-illustration.svg
  types/ui-pattern-types/skeleton-types.ts
Labels: staff-only, team-design :art:, team-frontend :tangerine:

#10 Feat/json schema
  common/dataSource/team-data.json
  components/Team/index.tsx
  pages/index.tsx
  public/team/ayush.jpg
  public/team/sumit.jpg
  public/team/yash.jpg
Labels: staff-only, team-frontend :tangerine:
